<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400&display=swap" rel="stylesheet">
   <title>SoundCrowd</title>
   <% if logged_in? %>
   <script type="text/javascript">
      window.currentUser = {
          'id': <%= current_user.id %>,
          'username': "<%= current_user.username %>",
      }
   </script>
   <% end %>
</head>
<body>
   <main id="root"></main>
</body>
</html>