.song-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 44px;
    min-height: 100vh;
}
.song-form-audio-false{
    display: flex;
    // border: solid red;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: dashed lightgray 2px;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(111, 111, 111);
    margin-top: 25px;
}

.song-form-audio-true{
    display: none;
}

.song-form-img {
    display: flex;
    position: relative;
    // align-items: center;
    justify-content: center;
    padding: 0px 10px;
    // border: black solid;
}

.song-form-audio-false input, .song-form-img input{
    width: 0.1px;
    height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    align-items: right;
}

.song-form-audio-false label, .song-form-img label{
    color: white;
    background-image: linear-gradient(to right, pink, lightgreen, lightblue,lavender );
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.song-form-audio-false label{
    margin: 20px;
    padding: 8px 35px;
    font-size: 18px;
    font-weight: 400px;
}

.song-form-img label{
    margin: 20px;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 200px;
    position: absolute;
    border: lightgray solid 1px;
    top:190px;
}

.song-details-false {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    // border: red solid;
}

.song-details-true{
    display: none;
}
.song-form-details{
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    // border: blue solid;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    padding: 25px;
}

.song-form-details>div{
    display: flex;
    // border: green solid;
    justify-content: space-evenly;
    margin: 25px 0;
}

.song-form-txt{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 14px;
    width: 57.5%;
}

.song-form-txt label{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.song-form-txt input, 
.song-form-txt textarea,
.song-form-txt select{
    outline: none;
    padding: 5px;
    margin: 5px;
}

.song-img-prev{
    width: 260px;
    height: 260px;
    object-fit: cover;
}

.song-img-placeholder {
    width: 260px;
    height: 260px;
    // background-color: blue;
    background-image: linear-gradient(to left,lightyellow,lavender , lightblue);
}

.song-form-submit{
    display: flex;
    border-top: rgba(0,0,0,.1) solid 1px;
    // box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
}
.song-form-details>div:last-child{
    justify-content: flex-end;

}

.song-form-submit button{
    margin: 10px;
}

.song-form-item{
    display: flex;
    width: 60%;
    padding: 25px;
    margin: 0 10px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
}

.uploaded-song-det {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
}

.uploaded-song-det div{
    display: flex;
    flex-direction: column;
}

.uploaded-song-det li:first-child{
    font-size: 14px;
    color: gray;
    font-weight: 200;
    padding: 3px 0px;
}

.uploaded-song-det p{
    font-size: 14px;
    font-weight: 100;
    padding: 3px 0;
}

.uploaded-song-det a{
    font-size: 14px;
    text-decoration: none;
}



.uploaded-song-img {
    width: 120px;
    height: 120px;
}

.song-form-nav{
    width:100%;
}

.song-form-nav ul{
    display: flex;
    width: 100%;
    // padding: 10px;
    border-bottom: rgba(0,0,0,.1) solid 1px;
}

.song-form-nav a{
    text-decoration: none;
    margin: 0px 10px;
    line-height: 48px;
    color: gray;
    font-weight: 100;
    font-size: 14px;
}

.song-form-nav a:active{
    color: lightblue;
    border-bottom: lightblue;
}


