.discover{
    display: flex;
    // padding-top: 30px;
    // width: 92%;
    margin: 0 auto;
    // border: black solid;
    background-color: white;
    margin-top: 46px;
}

.loading{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discover-right, .listening-history-info{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 14px;
    width: 100%
}

.listening-header-grp, .listening-history-item{
    display:flex;
    padding-top: 10px;
}

.listening-history-item{
    position: relative;
}

.listening-history-item a{
    text-decoration: none;
    color: #999;
}

.listening-history-item a:last-child{
    color: black;
}

.listening-header-grp{
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}
.listening-header-grp a, .listening-header-grp h5{
    font-weight: 300;
    color: #999;
    text-decoration: none;
}

.listening-history{
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow: hidden;
    padding: 50px 30px;  
}

.listening-history-play{
    display: none;
}
.listening-history-play button{
    height: 30px;
    width: 30px;
}

.listening-history-item:hover>div:first-child{
    display: block;
    position: absolute;
    top: 26px;
    left: 16px;
    z-index: 2;
}



.song-img-small{
    height: 60px;
    width: 60px;
}

.discover-main{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 30px;
    border-right: #e1e1e1 1px solid;

}

.discover-main>div{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-bottom: 1px solid lightgray;
}

.discover-main h2{
    font-size: 23px;
    color: #333;
    padding: 0;
    font-weight: 300;
}

.discover-main p{
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 300;
}

.song-index{
    // border: red solid;
    display: flex;
    height: 275px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
    // padding-bottom: 20px;
    // border-bottom: #999 solid 1px;
}

.song-index-item{
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 0px;;
    position: relative;
}

.song-index-img{
    height: 170px;
    width: 170px;  
}

.song-index-item a:nth-child(2){
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    color: black;
}
.song-index-item a:nth-child(3){
    font-size: 12px;
    color:#999;
    font-weight: 100;
    text-decoration: none;
}

.song-index-item>div{
    display: none;
}

.song-index-item:hover>div{
    display: block;
    position: absolute;
    top: 70px;
    left: 55px;
    z-index: 2;
}
