.login-signup{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    // border: solid black 2px;
    // top: 0px;
    // left: 0px;
    top: 42px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login-signup > div {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 25px;
    // border: solid black 2px;
}

.login-signup img {
    height: 20px;
}

.login-signup img:hover{
    cursor: pointer;
}

.login-signup-buttons > button {
    font-size: 14px;
    padding: 2px 12px;
    cursor: pointer;
}

.header-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    width: 100%;
    border: red 2px solid;
}

.header-name, h5{
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
}

.header-group img{
    height: 50px;
}