.login-signup{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    // border: solid black 2px;
    // top: 0px;
    // left: 0px;
    top: 42px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login-signup > div {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 25px;
    // border: solid black 2px;
}

.login-signup img {
    height: 20px;
}

.login-signup img:hover{
    cursor: pointer;
}

.login-signup-buttons > button {
    font-size: 14px;
    padding: 2px 12px;
    cursor: pointer;
}
//------------------------------------------------------------------------------
.header-group{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 46px;
    // border: red 2px solid;
}

.header-group a{
    text-decoration: none; 
}

.header-group > nav{
    display: flex;
    width: 1250px;
    justify-content: space-between;
}

.navbar-left{
    display: flex;
    align-items: center;
    
}

.navbar-left img{
    height: 46px;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.header-name, .header-group h5, .navbar-more{
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
    padding: 16px 0px;
    width: 100px;
    cursor: pointer;
    text-align: center;
}
.header-name:hover{
    color: rgba(245,245,245,1);
}
.header-group h5:hover{
    color: rgba(245,245,245,1);
}

.navbar-more{
    // opacity: .75;

    // border: none;
    // outline: none;
    width: 46px;
    height: 46px;
    padding: 0px;
    position: relative;
    display: inline-block;
    
}

.navbar-more::before{
    content: "";
    background: image-url('more.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.navbar-more:hover::before{
    opacity: 1;
}

// .navbar-more:hover{
//     opacity: 1;
// }
.navbar-left h5{
    border-right: solid black 1px;
}
.navbar-left a:first-child{
    height: 46px;
    cursor: pointer;
    // padding: 0px 10px 0px 0px;
}

.more-dropdown-true{
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    opacity:1;
    width: 160px;
    // padding: 10px;
    z-index: 2;
    right: 0px;
    top: 46px;
}
.more-dropdown-false{
    display: none;
}

.more-dropdown-true li{
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    width: 140px;
    background-color: transparent;
    border-radius: 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
}
.more-dropdown-true>li:hover{
    background-color: rgb(220, 220, 220);
    // width: 160px;
}

.more-item{
    background-color: white;
    opacity: 1;
}