.playbar{
  height: 48px;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}

.playbar>div{
  display: flex;
  justify-content: space-between;
  width: 1250px;
}

.playbar-controls{
  display: flex;
  justify-content: space-between;
}

.playbar-controls>button,
.playbar-controls-right>button,
.playbar-list{
  background-color: transparent;
  border: none;
  width:24px;
  margin-left: 12px;
}

.playbar-list{
  padding: 17px 10px;
  margin: 0;
}

.playbar-scrub{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.playbar-scrub p{
  width: 25px;
}

.next-list-head{
  display: flex;
  justify-content: space-between;
}

.playbar-song-info, 
.next-list>li{
  display: flex;
  align-items: center;
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.next-list>li{
  width: 100%;
  padding: 6px 15px;
  // cursor: pointer;
}

.playbar-song-info img,
.next-list>li img{
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.playbar-song-info>div,
.next-list>li div{
  display: flex;
  justify-content: space-evenly;
}

.next-list>li div{
  align-items: baseline;
}

.playbar-song-info>div,
.next-list-item-info{
  flex-direction: column;
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
}

.playbar a{
  text-decoration: none;
  font-size: 13px;

}
.playbar-song-info-title,
.next-list-item-title{
  color: black;
  font-weight: 200;
}

.playbar-song-info-artist,
.next-list-item-artist{
  // text-decoration: none;
  // font-size: 13px;
  color: lightgray;
  font-weight: 300;
}

.next-list-item-options{
  display: flex;
}

.next-list-item-opt,
.next-list-close{
  border: none;
  background-color: transparent;
  outline: none;
}

.playlist-item a{
  color: lightgray
}

#audio{
  display: none;
}


.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%)
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background: #cdaed3;
  cursor: pointer;
  overflow: hidden;
}

.slider::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #cdaed3;
  cursor: pointer;
  -webkit-appearance: none;
}

.playbar-volume{
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  width:20px;
}

.playbar-volume>input{
  display: none;
}

.playbar-volume:hover>input{
  -webkit-appearance: slider-vertical;
  width: 2px;
  position: absolute;
  display: block;
  bottom: 20px;
}

.play-btn{
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(to right, pink,lightyellow, lightgreen, lightblue,lavender );
  color: white;
}

.playbar-controls-right{
  padding-right: 10px;
  display: flex;
}
.playbar-list{
  // cursor: pointer;
  position: relative;
}

.next-list-dropdown-false{
  display: none;
}

.next-list-dropdown-true{
  display: block;
  position: absolute;
  bottom: 110%;
  right: 0%;
  width: 500px;
  height: 750px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  overflow: scroll;
}

.next-list-head{
  line-height: 46px;
  text-align: left;
  font-size: 18px;
  font-weight: 100;
  border-bottom: 1px solid #e5e5e5;
  padding: 9px 24px;
}

.next-list li{

}