.playbar{
    height: 48px;
    // border: red solid;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.playbar>div{
    display: flex;
    justify-content: space-between;
    width: 1250px;
}

.playbar-controls{
    display: flex;
    justify-content: space-between;
}

.playbar-controls>button{
    background-color: transparent;
    border: none;
    width:24px;
    margin-left: 12px;
}

.playbar-scrub{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar-song-info{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.playbar-song-info img{
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.playbar-song-info>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playbar-song-info a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 200;
}

.playbar-song-info>div>a:first{
    color: gray;
}

#audio{
    display: none;
}


.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%)
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background: #cdaed3;
  cursor: pointer;
  overflow: hidden;
}

.slider::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #cdaed3;
  cursor: pointer;
  -webkit-appearance: none;
}

.playbar-volume{
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  width:20px;
}

.playbar-volume>input{
  display: none;
}

.playbar-volume:hover>input{
  -webkit-appearance: slider-vertical;
  width: 2px;
  position: absolute;
  display: block;
  bottom: 20px;
}

.play-btn{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    background-color:#cdaed3;
}


