.playbar{
    height: 48px;
    // border: red solid;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.playbar>div{
    display: flex;
    justify-content: space-between;
    width: 1250px;
}

.playbar-controls{
    display: flex;
    justify-content: space-between;
}

.playbar-controls>button{
    background-color: transparent;
    border: none;
}

.playbar-scrub{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar-song-info{
    display: flex;
    align-items: center;
}

.playbar-song-info img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.playbar-song-info>div{
    display: flex;
    flex-direction: column;
}

.playbar-song-info a{
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.playbar-song-info>div>a:first{
    color: gray;
}
