html{
    background: rgb(242, 242, 242);
    font-family: 'Overpass', sans-serif;
}

.main-content{
    width: 1250px;
    background: white;
    margin: 0 auto;
}

button{
    font-family: 'Overpass', sans-serif;
    border-radius: 3px;
    border-color: rgb(220, 220, 220);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
} 

h2{
    font-size: 35px;
    font-weight: 300;
    padding: 5px;
}

h4{
    font-size: 25px;
    font-weight: 200;
    padding: 10px;
}

.signin{
    background: rgba(255, 255, 255, 0);
    color: gray;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 100;
    margin: 10px;
    
}

.signup{
    background-color: lightblue;
    background-image: linear-gradient(to right, pink, lightgreen, lightblue,lavender );
    padding: 12.5px 25px;
    // border-style: none;
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin: 10px;
}

span {
    font-size: 13px;
    font-weight: 200;
    padding: 10px;
}

.splash-welcome{
    background: image-url('splash2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px;
    padding-top: 19px;
    padding-left: 30px;
    padding-right: 30px;
}

.splash-trending{
    background: image-url('splash_placeholder.png');
    background-size: 100% 100%;
    height: 826px;
    width: 1250px;
}

.splash-app-pic{
    background: image-url('splash3.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 390px;
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.splash-app-txt{
    background-color: rgba(255, 255, 255, 0);
    width: 30%;
    padding: 65px;
    // border: 2px solid black;
}

.line{
    height: 3px;
    width: 80px;
    background-image: linear-gradient(to right, pink, lightgreen, lightblue,lavender );
}

.splash-creators{
    background: image-url('splash4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 350px;
    color: white;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.splash-creators-txt{
    width: 45%;
    padding: 0 60px;
}

.footer-session{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: solid 1px rgb(220, 220, 220);
    padding: 70px;
    margin: 20px 30px;

}

.footer{
    display: flex;
    padding: 25px;
    // border: solid black 2px;
}