.user-page{
    display: flex;
    // justify-content: center;
    margin-top: 46px;
    width: 100%;
    background: white;
    flex-direction: column;
}

.user-header{
    display: flex;
    // justify-content: space-between ;
    // align-items: center;
    height: 200px;
    width: 1210px;
    padding: 20px; 
    background-image: linear-gradient(to right,lightyellow,lavender , lightblue);
}

.user-photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.user-header h2{
    background-color: white;
    color: gray;
    font-size: 24px;
    height: 32px;
    align-items: center;
    padding: 4px 7px;
}

.user-main{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.user-nav{
    display: flex; 
    border-bottom: 1px rgb(225, 225, 225) solid;
    margin: 20px;
}

.user-nav>li{
    list-style: none;
    padding: 10px;
}

.user-tracks,
.user-track>div, 
.user-song-info>div,
.user-song-actions,
.user-footer{
    display: flex;
    flex-direction: column;

}

.user-tracks{
    margin-top: 10px;
    padding: 0 20px 20px;
    border-bottom: #e1e1e1  1px solid;
    border-right: #e1e1e1  1px solid;
    width: 70%;
}

.user-track{
    padding: 10px 0 10px;
}

.user-track, .user-songs, .user-song-info{
    display: flex;
}

.user-track>div{
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    width: 100%;
}

.user-songs{
    justify-content: space-between;
}

.user-track-img{
    height: 160px;
    width: 160px;
}

.user-song-play>button{
    height: 36px;
    width: 36px;
    margin-right: 5px;
}

.user-song-info a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 100;
}
.user-song-info a:first-child,
.user-songs span{
    color: #999
}

.user-song-actions button{
    background: transparent;
    font-size: 10px;
    padding: 0px 10px;
}

.user-footer{
    // width: 100%;
    justify-content: center;
    align-items: center;
}

.user-footer a{
    background-image: linear-gradient(to right, pink, lightgreen, lightblue,lavender );
    font-size: 16px;
    // height: 46px;
    padding: 10px 23px;
    font-weight: 100;
    color: white;
    margin: 0px;
    width: 89px;
    text-decoration: none;
}










